.app {
    display: flex;
    flex-direction: column;
    padding-left: 62px;
    height: 100vh;
}

.dragableTabsContainer {
    position: relative;
}

.topPaddingBlock {
    min-height: 69px;
    border-left: 1px solid rgba(174, 182, 206, 0.20);
}

.contextMenuWrap {
    display: flex;
    position: absolute;
    width: 100%;
    padding-left: 57px;
    padding-right: 36px;
}

.mainContent {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 20px solid #F1F5F8;
}